<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Menu</title>
    <%- include('../views/parciais/head'); %>
  </head>
  <body class="menu">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <h2 class="navbar-brand">Menu</h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="quem_sou">Quem sou?</a>
            </li> 
            <li>   
              <a class="nav-link" href="vitrine_de_produtos">Vitrine de produtos</a>
            </li>   
            </li>    
              <a class="nav-link" href="consulta_de_pedidos">Consulta de pedidos</a>
            </li>   
            </li>    
              <a class="nav-link" href="clientes">Clientes</a>
            </li>
            </li>    
              <a class="nav-link" href="produtos">Produtos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
