<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Quem Sou</title>
    <%- include('../views/parciais/head'); %>
  </head>
  <body>
    <div>
      <h3 >Quem sou?</h3>
      <div>
        <img class="foto" src="fotoperfil.jpg" alt="fotoperfil"/>
      </div>
      <table>
        <tr>
          <td>RA: 22529</td>
        </tr>
        <tr>
          <td>Nome: Antonio Marcelo de Almeida</td>
        </tr>
        <td>
          O que você aprendeu fazendo esse projeto?
          <li>Implementar</li>
        </td>
      </table>
      <a class="link" href="menu" style="font-size: 20">Voltar ao menu</a>
    </div>
  </body>
</html>
