<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Vitrine de produtos</title>
    <%- include('../views/parciais/head'); %>
  </head>
  <body class="body">
    <h1 class="vitrine vitrine-second">
      Aproveite nossas promoções para perfumes femininos e masculinos
    </h1>
    <div class="perfumes">
      <div class="div">
        <img src="chloenomade.png" alt="Perfume Chloe Nomade" />

        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="diorjoy.png" alt="Perfume Dior Joy" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="diormiss.png" alt="Perfume Dior Miss" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="carolinah.png" alt="Perfume Carolina Herrera" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="beneton.png" alt="Perfume Beneton Masculino" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img
          src="antoniobdiavolo.png"
          alt="Perfume Antonio Banderas Diavolo Masculino"
        />
        <button>Comprar</button>
      </div>
    </div>
    <a class="link" href="menu" style="font-size: 20">Voltar ao menu</a>
  </body>
</html>
