<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de acesso</title>
    <link rel="stylesheet" href="estilo.css" />
  </head>
  <body>
    <div class="container">
      <div class="content first-content">
        <div class="first-column">
          <h2 class="title title-primary">Seja Bem vindo</h2>
          <p class="description description-primary">
            Para entrar faça o login com suas informações pessoais
        </div>
        <div class="second-column">
          <p class="description description-second">
            ACESSO
          </p>
          <form method="post" class="form">
            <label class="label-input" for="">
              <i class="fas fa-envelope icon-modify"></i>
              <input type="email" name="login" style="padding-left:5px" placeholder="E-mail" autofocus="true"/>
            </label>
            <label class="label-input" for="">
              <i class="fas fa-lock icon-modify"></i>
              <input type="password" name="senha" style="padding-left:5px" placeholder="Senha" />
            </label>
            <button class="btn-primary">Entrar</button>
          </form>
        </div>
      </div>          
    </div>
  </body>
</html>
