<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
  </head>
  <body class="menu">
    <h2>Menu</h2>
    <nav>
      <ul class="ul">
        <li><a href="quem_sou">Quem sou?</a></li>
        <li><a href="vitrine_de_produtos">Vitrine de produtos</a></li>
        <li><a href="consulta_de_pedidos">Consulta de Pedidos</a></li>
      </ul>
    </nav>
  </body>
</html>
