<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
  </head>
  <body class="menu">
    <h2>Quem sou?</h2>
    <div>
      <img class="foto" src="p5.jpg" alt="" />
    </div>
    <table>
      <tr>
        <td>RA: 22529</td>
      </tr>
      <tr>
        <td>Nome: Antonio Marcelo de Almeida</td>
      </tr>
      <td>
        O que você aprendeu fazendo esse projeto?
        <li>Implementar</li>
      </td>
    </table>
    <a class="link" href="menu">Voltar ao menu</a>
  </body>
</html>
