<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitrine de produtos</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
  </head>
  <body class="body">
    <h1 class="vitrine vitrine-second">
      Aproveite nossas promoções para perfumes femininos e masculinos
    </h1>
    <div class="perf">
      <div class="div">
        <img src="p1.png" alt="Perfume teste" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="p2.png" alt="Perfume teste" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="p3.png" alt="Perfume teste" />
        <button>Comprar</button>
      </div>
      <div class="div">
        <img src="p4.png" alt="Perfume teste" />
        <button>Comprar</button>
      </div>
    </div>
    <a class="link" href="menu">Voltar ao menu</a>
  </body>
</html>
